<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon">
    <test name="AddRemoveItemsFromCart">
        <packages>
            <package name="org.example.pageobjectstests.addremoveitemsfromcart"/>
        </packages>
    </test>
    <test name="DeliverTo">
        <packages>
            <package name="org.example.pageobjectstests.deliverto"/>
        </packages>
    </test>
    <test name="FilteringAndSearching">
        <packages>
            <package name="org.example.pageobjectstests.filteringandsearching"/>
        </packages>
    </test>
    <test name="SearchField">
        <packages>
            <package name="org.example.pageobjectstests.searchfield"/>
        </packages>
    </test>
</suite>
